.container {

    margin: 0px 150px;

    padding: 20px;
    padding-top: 180px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
}

@media only screen and (max-width: 1200px) {
    .container {
        margin: 0px 100px;
    }

}

@media only screen and (max-width: 1000px) {
    .container {
        margin: 0px 0px;

    }
}