.container{
    position: absolute;
    top: 80%;
    right: 0;
    width: max-content;
    background-color: var(--color-primary-dark);
    padding: 20px 30px;
    border-radius: 5px;
    color: white;
}

.container::before{
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    top: -7px;
    background-color: var(--color-primary-dark);
    transform: rotate(45deg);
    /* right: 90%; */
    left: 85%;
}